body {
    background-image: url('background.jpg')
}

.main-container {
    background-color: rgb(0, 0, 0, 0.65);
    border-radius: 20px;
    width: 1300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
}

.container {
    width: 1200px;
    margin: auto;
    padding-top: 60px;
}

header, nav {
    text-align: center;
}

header > h1 {
    color: lime;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: lime;
    padding: 15px;
}

section > h1 {
    display: inline-block;
    font-family: cursive;
}

section> h1, h3, h4 {
    color: white;
}

h3, h4 {
    margin-top: -13px;
    font-family: monospace;
}

h3::before {
    content: "\21A6";
}

section > h6 {
    margin-top: -14px;
    padding: 8px;
    border-radius: 5px
}

#orange {
    color: orange;
    background-color: orange;
    width: 340px;
}

#lime {
    color: lime;
    background-color: lime;
    width: 560px;
}

#red {
    color: red;
    background-color: red;
    width: 120px;
}